<footer class="footer">
    <div class="content container">
        <div class="row">
            <div class="col-xs-6">
                <img class="footer-logo" src="{{{global.img_logo_footer}}}" alt="Aircv Logo">
            </div>
            <div class="col-xs-6 text-right sm-text-left">
                <p class="vertex"><a href="https://www.vertex360.co/" target="_blank"><img src="https://lh3.googleusercontent.com/vCmw80CCjVCJBvOgO7MgN6qiYO7WwarQiWVKUd1xsdaOLTxnvBmShQLcVvvOpXuFlQ0t_uJvr_JsdGh8ngEY5A9OLQ"/></a></p>
            </div>
        </div>
        <!--// end row -->
    </div>
</footer>