<head>
    <meta charset="utf-8"/>
    <title>Metronic "Aircv" Frontend Freebie</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css"/>
    <link href="{{{cdn}}}/dist/css/style.min.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="{{{global.img_favicon}}}=s32-c" type="image/png" />
</head>