<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body class="container">
	<div class="row">

		<div class="col-md-6 col-md-offset-3" style="text-align:center;margin-bottom:48px">
			<h1>Welcome to Vertex 360</h1>
			<hr />
			<div style="background:#f9f9f9;border:1px solid #ddd;border-radius:3px;padding:12px">
				You are currently looking at the <strong style="color:red">home.mustache</strong> file in the 'views' directory of your project. This template is rendered with the Mustache templating engine. <h4 style="color:red">{{page.text}}</h4>
			</div>

			<h3 style="margin-top:48px">Routes</h3>
			<hr />
			<p>
				The routes are stored in the 'routes' directory. This scaffold comes with two sample routes out of the box: index and api. To test each route, click the following links:
			</p>

			<div class="row">
				<div class="col-md-6 col-md-offset-0">
					<div style="text-align:left;background:#f9f9f9;border:1px solid #ddd;border-radius:3px;padding:12px">
						<h4>Index Route</h4>
						<ul style="padding-left:16px">
							<li><a href="/json">JSON Response</a></li>
							<li><a href="/send">Text Response</a></li>
							<li><a href="/redirect">Redirect</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-6">
					<div style="text-align:left;background:#f9f9f9;border:1px solid #ddd;border-radius:3px;padding:12px">
						<h4>API Route</h4>
						<ul style="padding-left:16px;">
							<li><a href="/api/profile">Resource Request</a></li>
							<li><a href="/api/profile?team=cavaliers">With Query Params</a></li>
							<li><a href="/api/profile/lebron_james">With ID</a></li>
						</ul>
					</div>
				</div>
			</div>

			<h3 style="margin-top:48px">Deployment</h3>
			<hr />
			<p>
				To deploy, connect the project to a Vertex 360 project using the APP_ID (from root directory):
<pre style="text-align:left;margin-top:8px;background:#333;color:#fff">
<code>$ turbo app APP_ID</code>
</pre>

				Then deploy by simply entering the deploy command:
<pre style="text-align:left;margin-top:8px;background:#333;color:#fff">
<code>$ turbo deploy</code>
</pre>

				When deployment is complete, you will see a live link where you can access the project on the internet!
			</p>

		</div>
	</div>

  <!-- Vertex library for enabling site updates from https://www.vertex360.co -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/vertex.min.js"></script>
</body>
</html>
